@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Muy buena</h1>
    <p>Ejemplo muy sencillo y básico de un CRUD con 2 tablas relacionadas</p>
</div>
