@using CRUD_NET8.DTO
@model TipoUsuarioCreateDTO

<h1>Creación de un nuevo Tipo de usuario</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear" method="post">
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TusuDesc" class="control-label"></label>
                <input asp-for="TusuDesc" class="form-control" />
                <span asp-validation-for="TusuDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TusuObs" class="control-label"></label>
                <textarea  asp-for="TusuObs" class="form-control"></textarea>
                <span asp-validation-for="TusuObs" class="text-danger"></span>
            </div>
            <hr>
            <div class="d-flex justify-content-between" >
                <!-- Formulario para validar los cambios -->
                <form asp-controller="TipoUsuario" asp-action="Crear" method="post">
                    <input type="submit" name="action" value="Crear" class="btn btn-primary" />
                </form>
                
                <!-- Formulario para Volver al Index -->
                <form asp-controller="TipoUsuario" asp-action="Volver" method="post" >
                    <input type="submit" name="action" value="Volver" class="btn btn-warning" />
                </form>
            </div>
        </form>
    </div>
</div> 

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
