@model List<TipoUsuario>

<h1>Tipo de Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var tipo_usuario in Model){
            <tr>
                <td>
                    @tipo_usuario.TusuDesc
                </td>
            </tr>
        }
    </tbody>
</table>